<a href="https://colab.research.google.com/github/tlhhogi123/EDA-/blob/main/Project_3_level_1%20Data%20Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Project 3 Level 1 Dataset 1: Cleaning Data***


# **About Dataset**
# Context

Since 2008, guests and hosts have used Airbnb to expand on traveling possibilities and present more unique, personalized way of experiencing the world. This dataset describes the listing activity and metrics in NYC, NY for 2019.

# **Content**

This data file includes all needed information to find out more about hosts, geographical availability, necessary metrics to make predictions and draw conclusions.

# **Inspiration**

    What can we learn about different hosts and areas?
    What can we learn from predictions? (ex: locations, prices, reviews, etc)
    Which hosts are the busiest and why?
    Is there any noticeable difference of traffic among different areas and what could be the reason for it?

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the dataset
file_path = 'AB_NYC_2019.csv'  # Replace with your file path
df = pd.read_csv(file_path)

In [3]:
# Display the first few rows
print("Initial Dataset:")
print(df.head())

Initial Dataset:
     id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149               1                  9  2018-10-19
1  Entire home/apt    225               1                 45  2019-05-21
2     Private room    150               3                  0         NaN
3  Entire home/apt     89               1                270  2019-07-05
4  Entire home/apt     80              10                  9  2018-11-19

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.21                               6               365
1               0.38                               2               355
2                NaN                               1               365
3               4.64                               1               194
4               0.10                               1                 0

In [4]:
# Objective 1: Data Integrity
# Check for basic information and data types
print("\nDataset Information:")
df.info()

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [5]:
# Identify columns with potential issues
print("\nSummary Statistics:")
print(df.describe())

Summary Statistics:
                 id       host_id      latitude     longitude         price  \
count  4.889500e+04  4.889500e+04  48895.000000  48895.000000  48895.000000
mean   1.901714e+07  6.762001e+07     40.728949    -73.952170    152.720687
std    1.098311e+07  7.861097e+07      0.054530      0.046157    240.154170
min    2.539000e+03  2.438000e+03     40.499790    -74.244420      0.000000
25%    9.471945e+06  7.822033e+06     40.690100    -73.983070     69.000000
50%    1.967728e+07  3.079382e+07     40.723070    -73.955680    106.000000
75%    2.915218e+07  1.074344e+08     40.763115    -73.936275    175.000000
max    3.648724e+07  2.743213e+08     40.913060    -73.712990  10000.000000

       minimum_nights  number_of_reviews  reviews_per_month  \
count    48895.000000       48895.000000       38843.000000
mean         7.029962          23.274466           1.373221
std         20.510550          44.550582           1.680442
min          1.000000           0.000000           0.010000
25%          1.000000           1.000000           0.190000
50%          3.000000           5.000000           0.720000
75%          5.000000          24.000000           2.020000
max       1250.000000         629.000000          58.500000

       calculated_host_listings_count  availability_365
count                    48895.000000      48895.000000
mean                         7.143982        112.781327
std                         32.952519        131.622289
min                          1.000000          0.000000
25%                          1.000000          0.000000
50%                          1.000000         45.000000
75%                          2.000000        227.000000
max                        327.000000        365.000000

In [6]:
# Objective 2: Handling Missing Data
print("\nMissing Data Before Cleaning:")
print(df.isnull().sum())

Missing Data Before Cleaning:
id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [7]:
# Fill missing values for 'reviews_per_month' with 0 (assuming no reviews mean zero reviews)
df['reviews_per_month'] = df['reviews_per_month'].fillna(0)

In [8]:
# Drop rows with missing 'name' or 'host_name' (critical information)
df = df.dropna(subset=['name', 'host_name'])

In [9]:
# Objective 3: Duplicate Removal
# Remove duplicate rows
df = df.drop_duplicates()

In [10]:
# Objective 4: Standardization
# Ensure consistent formatting (e.g., title case for names)
df['name'] = df['name'].str.title()
df['host_name'] = df['host_name'].str.title()

In [11]:
# Convert price column to float and remove rows with non-sensical values
df = df[df['price'] > 0]

In [12]:
# Objective 5: Outlier Detection
# Identify outliers in the 'price' column using the IQR method
Q1 = df['price'].quantile(0.25)
Q3 = df['price'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [13]:
# Remove outliers
df = df[(df['price'] >= lower_bound) & (df['price'] <= upper_bound)]

In [14]:
# Final Dataset Overview
print("\nCleaned Dataset:")
print(df.info())
print("\nSample Data After Cleaning:")
print(df.head())

Cleaned Dataset:
<class 'pandas.core.frame.DataFrame'>
Index: 45876 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              45876 non-null  int64
 1   name                            45876 non-null  object
 2   host_id                         45876 non-null  int64
 3   host_name                       45876 non-null  object
 4   neighbourhood_group             45876 non-null  object
 5   neighbourhood                   45876 non-null  object
 6   latitude                        45876 non-null  float64
 7   longitude                       45876 non-null  float64
 8   room_type                       45876 non-null  object
 9   price                           45876 non-null  int64
 10  minimum_nights                  45876 non-null  int64
 11  number_of_reviews               45876 non-null  int64
 12  last_review                     36879 non-null  object
 13  reviews_per_month               45876 non-null  float64
 14  calculated_host_listings_count  45876 non-null  int64
 15  availability_365                45876 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB
None

Sample Data After Cleaning:
     id                                              name  host_id  \
0  2539                Clean & Quiet Apt Home By The Park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               The Village Of Harlem....New York !     4632
3  3831                   Cozy Entire Floor Of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft By Central Park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
3  Lisaroxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149               1                  9  2018-10-19
1  Entire home/apt    225               1                 45  2019-05-21
2     Private room    150               3                  0         NaN
3  Entire home/apt     89               1                270  2019-07-05
4  Entire home/apt     80              10                  9  2018-11-19

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.21                               6               365
1               0.38                               2               355
2               0.00                               1               365
3               4.64                               1               194
4               0.10                               1                 0

In [15]:
# Save the cleaned dataset
df.to_csv('AB_NYC_2019_cleaned.csv', index=False)
print("\nCleaned dataset saved as 'AB_NYC_2019_cleaned.csv'")

Cleaned dataset saved as 'AB_NYC_2019_cleaned.csv'